__pycache__/ 
#*.pyc 
#*.pyo 
#.git/ 
#.dvc/ 
#mlruns/ 
#notebooks/ 
#data/ 
#*.log 
#*.ipynb 
.env 
#artifacts/data_clean.csv 
#artifacts/X_test.csv 
#artifacts/y_test.csv 
#artifacts/reporte_evaluacion.png